.oranger-content{

    display: flex;
    flex-direction: column;

    align-items:center;

    }

    .oranger{

    background-color: #F7B71E;
    height:600px;
    width:100%;
    margin-top: 300px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;


    }
    .ourss{
        height:50px;
        width:300px;
        border-bottom: 2px solid white;
        background-color:#F7B71E;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        margin-top: 50px;
        font-size: 30px;
        position: relative;


    }
    .offering{


        height:30px;
        width:150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    position: absolute;
    margin-top: 75px;
    font-size: 20px;
    background-color: #F7B71E;

    }
    .evanto{


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:160px;
    width:160px;
    border: 1px solid white;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 30px;
    }
    .smith{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;

    }
    .downs{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 10px;

    }
    .versions{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100px;
    width:1200px;
    font-size: 24px;
    margin-top: 30px;
    background-color:rgba(255, 255, 255, 0.1);



    display: none;

    }
    .version{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100px;
    width:1200px;
    font-size: 24px;
    margin-top: 30px;
    background-color:rgba(255, 255, 255, 0.1);
    }