.uparrow{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
    }
    .account{
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color:white;
    height:250px;
    width:90%;
    background-color: #293133;
    box-sizing:border-box ;
    position: relative;
    /* background: linear-gradient(135deg,transparent 50px,#293133 ; */
    
    
    
    }
    .four{
    height:700px;
    width:100%;
    background-color: #333D40;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /* background: linear-gradient(135deg,transparent 45px,#293133 0); */
    }
    .left{
    
    position: absolute;
    left:0px;
    top:198px;
    
    }
    .account-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
    
    }
    .rights{
    
    position: absolute;
    right:0px;
    top:201px;
    
    }
    .blue{
    
    color:blue;
    
    
    }
    .gallery{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    }
    
    .albums{
    
    display: flex;
    flex-direction: column;
    height:240px;
    width: 548px;
    background-color: white;
    position: relative;
    
    }
    .smaller{
    border: none;
    position: absolute;
    top:169px;
    left:75px;
    }
    .square{
    background-color: #333D40;
    height:50px;
    width:548px;
    color:white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    .circle{
    
    display: flex;
    flex-direction: row;
    
    }
    
    .gets{
    display: flex;
    flex-direction: column;
    height:240px;
    width: 548px;
    margin-left: 20px;
    background-color: #9C9C9CB3;
    }
    .semi{
    
    height:120px;
    width:185px;
    background-color: #F7B71E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }
    .semi-circle{
    
        height:120px;
    width:185px;
    background-color:rgba(198, 142, 11, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }
    .mail{
    height:70px;
    width:60px;
    border-radius: 60px;
    
    }
    .semi-square{
    
    height:115px;
    width:550px;
    background-color: #293133CC;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    
    }
    .oval{
    
    height:70px;
    width:70px;
    border-radius: 50px;
    
    
    }
    .camera{
    
        margin-left: 35px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    .mobile{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    
    }
    .year{
    margin-top: 70px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }