@media (max-width:768px){





    .wallpaper-session{

    height:300px;
    width:100vw;
    background-image: url(images/project-wallpaper.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;


    }
    .wall-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    margin-top: 50px;

    }
    .company{

    color:white;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    }
    .small{
    height:40px;
    width:300px;
    border:1px solid #d4d3d3fb;
    color:#FFFFFF;
    margin-top: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .houses{

    color:#FFFFFF;
    background-color:#9C9C9C;
    height:30px;
    width:70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    }
    .buildings{

    color:white;
    background-color: #F7B71E;
    height:30px;
    width:80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    }
    .zero{


    display: flex;
    flex-direction: row;

    }
    .end{
    height:60px;
    width:60px;
    background-color: #00000026;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;

    }
}